@model ProfileResponse
@{
    ViewData["Title"] = "Profile";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">@Model.Name</h1>
    <div class="d-flex gap-2">
      <a asp-action="Index" asp-route-appId="@Model.AppId" class="btn btn-light">Return</a>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Permission</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Permissions != null && Model.Permissions.Count > 0){
        @foreach(var permission in Model.Permissions.OrderBy(o => o.Name))
        {
            <tr>
                <td class="align-middle">@permission.Name</td>
                <td class="align-middle">@permission.Role</td>
                <td class="align-middle">@permission.Status.GetDisplayName()</td>
            </tr>
        }
    }else{
        <tr>
            <td colspan="3">No records found!</td>
        </tr>
    }
  </tbody>
</table>
