@model AppProfileViewModel
@{
    ViewData["Title"] = "Profiles";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">@Model.App.Name - profiles</h1>
    <div class="d-flex gap-2">
      @if(User.IsInRole(RoleConstants.ProfileRole.Create))
      {
        <a asp-action="Create" asp-route-appId="@Model.App.Id" class="btn btn-success">Add</a>
      }
      <button onclick="window.history.back()" type="button" class="btn btn-light">Return</button>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Profile</th>
      <th scope="col">Slug</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Profiles != null && Model.Profiles.TotalItems > 0){
        @foreach(var profile in Model.Profiles.Items.OrderBy(o => o.Name))
        {
            <tr>
                <td class="align-middle">@profile.Name</td>
                <td class="align-middle">@profile.Slug</td>
                <td class="align-middle">@profile.Type</td>
                <td class="align-middle">@profile.Status?.GetDisplayName()</td>
                <td class="d-flex flex-row-reverse">
                    <div class="btn-group" role="group" aria-label="actions">
                        <a asp-action="Permissions" asp-route-id="@profile.Id" class="btn btn-outline-secondary">Permissions</a>
                        @if(User.IsInRole(RoleConstants.ProfileRole.Update))
                        {
                          <a asp-action="Edit" asp-route-id="@profile.Id" class="btn btn-outline-secondary">Edit</a>
                        }
                        @if(User.IsInRole(RoleConstants.ProfileRole.Delete))
                        {
                          <a asp-action="DeleteConfirm" asp-route-id="@profile.Id" class="btn btn-outline-secondary">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    }else{
        <tr>
            <td colspan="5">No records found!</td>
        </tr>
    }
  </tbody>
</table>
