@model AppPermissionViewModel
@{
    ViewData["Title"] = "Permissions";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">@Model.App.Name - permissions</h1>
    <div class="d-flex gap-2">
      @if(User.IsInRole(RoleConstants.PermissionRole.Create))
      {
        <a asp-action="Create" asp-route-appId="@Model.App.Id" class="btn btn-success">Add</a>
      }
      <button onclick="window.history.back()" type="button" class="btn btn-light">Return</button>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Permission</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Permissions != null && Model.Permissions.TotalItems > 0){
        @foreach(var permission in Model.Permissions.Items.OrderBy(o => o.Name))
        {
            <tr>
                <td class="align-middle">@permission.Name</td>
                <td class="align-middle">@permission.Role</td>
                <td class="align-middle">@permission.Status.GetDisplayName()</td>
                <td class="d-flex flex-row-reverse">
                    <div class="btn-group" role="group" aria-label="actions">
                        @if(User.IsInRole(RoleConstants.PermissionRole.Update))
                        {
                          <a asp-action="Edit" asp-route-id="@permission.Id" class="btn btn-outline-secondary">Edit</a>
                        }
                        @if(User.IsInRole(RoleConstants.PermissionRole.Delete))
                        {
                          <a asp-action="DeleteConfirm" asp-route-id="@permission.Id" class="btn btn-outline-secondary">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    }else{
        <tr>
            <td colspan="4">No records found!</td>
        </tr>
    }
  </tbody>
</table>
