@model ClientDetailsViewModel
@{
    ViewData["Title"] = "Client";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">@Model.Client.Name</h1>
    <div class="d-flex">
      <button onclick="window.history.back()" type="button" class="btn btn-light">Return</button>
    </div>
  </div>
</nav>

@if(User.IsInRole(RoleConstants.ClientProfileRole.Create))
{
  <form asp-action="AddProfile" method="post" class="mb-3 d-flex gap-2 align-items-end">
    <input type="hidden" name="clientId" value="@Model.Client.Id" />
    <div style="min-width:300px;">
      <label class="form-label">Profile</label>
      <select name="profileId" class="form-select" required>
        <option value="">Select...</option>
        @foreach (var profile in Model.AvailableProfiles.OrderBy(p => p.AppName).ThenBy(p => p.Name))
        {
          <option value="@profile.Id">@profile.AppName - @profile.Name</option>
        }
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add profile</button>
  </form>
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Profile</th>
      <th scope="col">App</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Client.Profiles != null && Model.Client.Profiles.Count > 0){
        @foreach(var profile in Model.Client.Profiles.OrderBy(o => o.Name))
        {
            <tr>
                <td class="align-middle">@profile.Name</td>
                <td class="align-middle">@profile.AppName</td>
                <td class="align-middle">@profile.Status.GetDisplayName()</td>
            </tr>
        }
    }else{
        <tr>
            <td colspan="3">No records found!</td>
        </tr>
    }
  </tbody>
</table>
