@model PaginatedResponse<UserResponse>
@{
    ViewData["Title"] = "User";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">User</h1>
    <div class="d-flex">
    @if(User.IsInRole(RoleConstants.UserRole.Create)){
      <a asp-action="Create" class="btn btn-success">Add</a>
    }
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Items != null && Model.Items.Count > 0){
        @foreach(var user in Model.Items.OrderBy(o => o.Name))
        {
            <tr>
                <td class="align-middle">@user.Name</td>
                <td class="align-middle">@user.Email</td>
                <td class="align-middle">@user.Status.GetDisplayName()</td>
                <td class="d-flex flex-row-reverse">
                    <div class="btn-group" role="group" aria-label="actions">
                        <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-outline-secondary">Details</a>
                        @if(User.IsInRole(RoleConstants.UserRole.Update))
                        {
                          <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-outline-secondary">Edit</a>
                        }
                        @if(User.IsInRole(RoleConstants.UserRole.Delete))
                        {
                          <a asp-action="DeleteConfirm" asp-route-id="@user.Id" class="btn btn-outline-secondary">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    }else{
        <tr>
            <td colspan="4">No records found!</td>
        </tr>
    }
  </tbody>
</table>
@await Html.PartialAsync("_Pagination", new PaginationViewModel{
  HasPreviousPage = Model.HasPreviousPage,
  HasNextPage = Model.HasNextPage,
  PageIndex = Model.Request.PageIndex,
  TotalItems = Model.TotalItems,
  TotalPages = Model.TotalPages
})
