@model HomeViewModel

@{
    ViewData["Title"] = "Log In";
    Layout = "_LayoutHome";
}
<div class="container mt-4">
    <div class="row align-items-center mb-4">
        <div class="col d-flex align-items-center">
            <figure class="user-image me-3" style="width:80px;height:80px;border-radius:50%;background-size:cover;background-position:center;background-image: url('@(@User.GetImage()?.Length > 5 ? User.GetImage() : "")');margin:0;">
            </figure>
            <div>
                <h4 class="mb-0">@User.GetName()</h4>
                <p class="mb-0">@User.GetEmail()</p>
            </div>
        </div>
        <div class="col-auto ms-auto">
            <a class="btn btn-primary btn-sm me-2" href="@Url.Action("Update", "User")">Update user</a>
            <a class="btn btn-link btn-sm" href="@Url.Action("Logout", "Logout")">Logout</a>
        </div>
    </div>
    <hr />
    <br />
    <h5>Applications</h5>
    <div class="row">
        @foreach (var app in Model.Apps)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="app-image" style="height:140px;background-image:url('@app.FaviconUrl');background-size:contain;background-repeat:no-repeat;background-position:center;border-radius:8px 8px 0 0;">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">@app.Name</h6>
                        <a asp-controller="Login" asp-action="Index" asp-route-appSlug="@app.Slug" class="btn btn-outline-primary btn-sm w-100">Acessar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
